---
import Layout from "../layouts/layout.astro";
import Showlist from "../components/showlist.astro";
import { getShows } from "../services/TVAPIService";

const shows = await getShows();
---
<Layout>
    <div class="container">
        <h1>
            TV Shows
        </h1>
        <Showlist shows={shows}></Showlist>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
</style>