---
import Show from "./show.astro";
const { shows } = Astro.props;
---

<div class="shows">
  {
    shows.map((show: any) => (
        <Show show={show}></Show>
    ))
  }
</div>

<style>
    .shows {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>